@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Roboto Condensed", sans-serif;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none ;
}
nav {
    background-color: rgba(0, 0, 0, 0.502);
}

.slider {
    background-image: url(../Imgs/imgi_13_intro-bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.slider-con h2 {
    font-size: xxx-large !important
}

.slider-con span {
    font-size: x-large !important
}

.About-right h2 {
    position: relative;
    content: "";
    font-size: xx-large;
}

.About-right h2::after {
    position: absolute;
    content: "";
    width: 100px;
    height: 3px;
    bottom: -5px;
    left: 0px;
    background-color: #00f;
}
@media screen and (max-width:991px) {
    #About .About-left-info .About-info li{
        font-size: 18px;
    }
}
@media screen and (max-width:575px) {
    #About .About-left-info .About-info li{
        font-size: normal;
    }
}
.progress{
    height: 15px;
}
/* strat services */

/* .main-heading {
    position: relative;
    content: "";
}*/
.main-heading .line{
    width: 40px;
    height: 5px;
background-color: #0d6efd;
margin: 0px auto;
} 
.service span{
    width: 80px;
    height: 80px;
}

/* end services */
