@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Roboto Condensed", sans-serif;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none ;
}
nav {
    background-color: rgba(0, 0, 0, 0.502);
    position: sticky !important;
    top: 0px;
    z-index: 99999 !important;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
        rgba(0, 0, 0, 0.06) 0px 2px 4px -1px !important;

}

.slider {
    background-image: url(../Imgs/imgi_13_intro-bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.slider-con h2 {
    font-size: xxx-large !important
}

.slider-con span {
    font-size: x-large !important
}

.About-right h2 {
    position: relative;
    content: "";
    font-size: xx-large;
}

.About-right h2::after {
    position: absolute;
    content: "";
    width: 100px;
    height: 3px;
    bottom: -5px;
    left: 0px;
    background-color: #00f;
}
@media screen and (max-width:991px) {
    #About .About-left-info .About-info li{
        font-size: 18px;
    }
}
@media screen and (max-width:575px) {
    #About .About-left-info .About-info li{
        font-size: normal;
    }
}
.progress{
    height: 15px;
}
/* strat services */

/* .main-heading {
    position: relative;
    content: "";
}*/
.main-heading .line{
    width: 40px;
    height: 5px;
background-color: #0d6efd;
margin: 0px auto;
} 
.service span{
    border: solid #0d6efd 10px !important;
    width: 80px;
    height: 80px;
    transition: all .4s;
}
#Services .service:hover span {
     color: aliceblue !important;
     border: solid #cde1f8 10px !important;
     background-color: #00f !important;

}
/* end services */

/* start counter */
#counter{
    position: relative;
    background-image: url(../Imgs/imgi_12_post-3.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    padding: 110px 0px !important;
    background-size: cover;

}
.counter-con .counter-icon {
    border: solid #cde1f8 7px !important;
    width: 70px;
    height: 70px;
    margin: 0px auto;
    color: white;
    /* padding: 0px; */
}
#counter .overlay{
    position: absolute;
    inset: 0;
    background-color: #0d6efd;
    opacity: .6;
    height: 100%;
    width: 100%;

}
/* end counter */

/* start work */
#Work{}
.works .work .work-img img{
    transition: transform .5s;
}
.work-img{
    overflow: hidden;

}
.work:hover .work-img img{
    width: 100%;
    transform: scale(1.3);
}
/* end work */
/* start testimonial */
#testimonial{
    background-image: url(../Imgs/imgi_14_overlay-bg.jpg);
    background-position:center center;
    background-repeat: no-repeat;
    height: 100vh;
    background-attachment: fixed;
    position: relative;
}
#testimonial .overlay{
    position: absolute;
    inset: 0;
    background-color: #0d6efd;
    opacity: .6;
    height: 100%;
    width: 100%;
}
/* .test-con{
    position: relative;
} */
/* end testimonial */
/* start Blog */
#Blog{}
.card-footer-info a span{
    transition: all .4s;
}

.card-footer-info a span:hover{
     color:#0d6efd !important;
     cursor: pointer !important;
}
/* end Blog */

/* start contact */
#Contact{
    background-image: url(../Imgs/imgi_14_overlay-bg.jpg);
    background-position:center center;
    background-repeat: no-repeat;
    height: 100vh;
    background-attachment: fixed;
    position: relative;
}
#Contact .overlay{
    position: absolute;
    inset: 0;
    background-color: #0d6efd;
    opacity: .6;
    height: 100%;
    width: 100%;
}
.about-right h2 ,.contact-left h2 {
  position: relative;
  padding-bottom: 5px;
  margin-bottom: 15px;
}
.about-right h2::after ,.contact-left h2::after {
  position: absolute;
  content: "";
  width: 80px;
  height: 3px;
  background-color: blue;
  bottom: 0;
  left: 0;
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .about-right p {
    font-size: 16px !important;
  }
}

.icon-container {
  width: 80px;
  height: 80px;
  transition: all 0.5s;
}
.service-card:hover .icon-container {
  background-color: #0078ff;
  border-color: #cde1f8 !important;
}

.service-card:hover .icon-container i{
 color: white;
}

.card-person img{
  width: 25px;
  margin-right: 5px;
}
textarea{
  resize: none !important;
}
.icons-cont{
    width: 40px;
    height: 40px;
    transition: background-color .3s;
    border: 4px solid #0078ff;
    cursor: pointer;
}
.icons-cont:hover{
    background-color: #0078ff;
    border: 4px solid #cde1f8;
    color: aliceblue;
}
/* end contact */
